#post-processing output
outputs/*
pdfs/*
saveoutputs*/*
cgem_extract.csh
launch.csh
hydro_extract.sh

#python crap
__pycache__

# executables
pschism_*
launch
ser2par

#scheduler output
out
err
out.*
err.*
*.out.*
*.err.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
